{% extends 'base.html' %}


{% block title %}
    Восстановление пароля   
{% endblock %}


{% block scripts %}
    {% include "_scripts.html" %}  
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-7">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#registration" role="tab">Новый пароль</a>
                    </li>
                </ul>
                <div class="tab-content login-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="registration" role="tabpanel">
                        <div class="alert alert-success" role="alert">
                            Вы успешно восстановили пароль. Теперь войдите на сайт.
                        </div>
                        <br>  
                        <a href="{% url 'signin' %}" class="btn btn-primary">войти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}