{% extends 'base.html' %}
{% load static %}


{% block title %}
    Главная
{% endblock %}


{% block scripts %}

    <script src="{% static 'js/jquery-smartphoto.min.js' %}"></script>
    <script src="{% static 'js/stickyfill.min.js' %}"></script>
    <script src="{% static 'js/focus-fix.jquery.js' %}"></script>
    <script src="{% static 'js/jquery.matchHeight-min.js' %}"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/jquery.maskedinput-1.3.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script>
        $(document).ready(function(){
            var alert_success2 = {{ alert_success2 }};
            console.log(alert_success2);
            switch (alert_success2) {
                case 0:
                    $('#exampleModal3').modal('show');
                    break;
                case 2:
                    $('#exampleModal3').modal('show');
                    $('#repair-form .alert-success').removeClass('d-none');
                    $('#repair-form .alert-success').addClass('d-block');
                    break;
                case 3:
                    $('#exampleModal3').modal('show');
                    $('#repair-form .alert-danger').removeClass('d-none');
                    $('#repair-form .alert-danger').addClass('d-block');
                    break;
                default:
                    break;
            }
        });
    </script>

{% endblock %}


{% block content %}

    <div class="carousel-block">
        <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    {% for slide in slides %}
                        <div class="carousel-item {% if slide == slide_first %}active{% endif %}" style="background-image: url(../static/images/slide-1.png);">
                            <div class="carousel-caption">
                                <h3>{{ slide.title }}</h3>
                                <p>{{ slide.text }}</p>
                                <a class="btn btn-primary mr-3" href="{{ slide.button_url }}" role="button">{{ slide.button_text }}<i class="fas fa-chevron-right fa-sm i-post"></i></a>
                                <a class="btn btn-danger" href="#" role="button" data-toggle="modal" data-target="#exampleModal3"><i class="fas fa-wrench i-pre"></i>Записаться на ремонт</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <ul class="list-inline carousel-features">
                    {% for info_block in info_blocks %}
                        <li class="list-inline-item">
                            <span>{{ info_block.title }}</span>
                            {{ info_block.text }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="categories-grid">
            <div class="row">
                <div class="col-xl-3 col-lg-12 d-flex align-items-stretch">
                    <a href="/catalog/startery/" title="" class="categories-grid-item cgi-h">
                        <div class="categories-grid-item-img" style="background-image: url('../static/images/cg1.png');"></div>
                        <span>Стартеры</span>
                    </a>
                </div>
                <div class="col-xl-9 col-lg-12 cgi-h-target">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4">
                            <a href="/catalog/komplektuyushie-startera/" title="" class="categories-grid-item">
                                <div class="categories-grid-item-img" style="background-image: url('../static/images/cg2.png');"></div>
                                <span>Комплектующие для стартеров</span>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <a href="/catalog/komplektuyushie-generatora/" title="" class="categories-grid-item">
                                <div class="categories-grid-item-img" style="background-image: url('../static/images/cg3.png');"></div>
                                <span>Комплектующие для генераторов</span>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <a href="/catalog/kondicionery/" title="" class="categories-grid-item">
                                <div class="categories-grid-item-img" style="background-image: url('../static/images/cg4.png');"></div>
                                <span>Автокондиционеры</span>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-4 col-lg-6">
                            <a href="/catalog/ventilyatory-otopitelej/" title="" class="categories-grid-item">
                                <div class="categories-grid-item-img" style="background-image: url('../static/images/cg5.png');"></div>
                                <span>Вентиляторы отопителей</span>
                            </a>
                        </div>
                        <div class="col-xl-8 col-lg-6">
                            <a href="/catalog/generatory/" title="" class="categories-grid-item">
                                <div class="categories-grid-item-img" style="background-image: url('../static/images/cg6.png');"></div>
                                <span>Генераторы</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-9 col-lg-12 cgi-h-target">
                    <div class="row">
                        <div class="col-xl-8 col-lg-6">
                            <a href="/catalog/sistema-zazhiganiya/" title="" class="categories-grid-item">
                                <div class="categories-grid-item-img" style="background-image: url('../static/images/cg7.png');"></div>
                                <span>Система зажигания</span>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <a href="/catalog/lampy-nakalivaniya/" title="" class="categories-grid-item">
                                <div class="categories-grid-item-img" style="background-image: url('../static/images/cg8.png');"></div>
                                <span>Лампы накаливания</span>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-4 col-lg-6">
                            <a href="/catalog/benzonasosy/" title="" class="categories-grid-item">
                                <div class="categories-grid-item-img" style="background-image: url('../static/images/cg9.png');"></div>
                                <span>Бензонасосы</span>
                            </a>
                        </div>
                        <div class="col-xl-8 col-lg-6">
                            <a href="/catalog/roliki/" title="" class="categories-grid-item">
                                <div class="categories-grid-item-img" style="background-image: url('../static/images/cg10.png');"></div>
                                <span>Ролики натяжителей</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-12 d-flex align-items-stretch">
                    <a href="/catalog/akkumulyatory/" title="" class="categories-grid-item cgi-h">
                        <div class="categories-grid-item-img" style="background-image: url('../static/images/cg11.png');"></div>
                        <span>Аккумуляторы</span>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="features-block">
        <div class="container">
            <h2>Почему нас выбирают</h2>
            <div class="row justify-content-center">
                {% for pros in proses %}
                    <div class="col-lg-3 col-md-6">
                        <div class="feature-item">
                            <div class="feature-image-item" style="background-image: url('{{ pros.image.url }}');"></div>
                            {{ pros.text }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="newsfeed-block">
        <div class="container">
            <div class="newsfeed-block-header d-flex justify-content-between">
                <h2 class="align-self-center">Новости</h2>
                <a class="btn btn-primary btn-sm align-self-center" href="{% url 'news' %}" role="button">все новости</a>
            </div>
            <div class="row">
                {% for news in last_news %}
                <div class="col-lg-6">
                    <div class="news-item">
                        <div class="news-item-img" style="background-image: url('{{ news.image.url }}')"></div>
                        <span>{{ news.created_date|date:"d.m.Y" }}</span>
                        <h3><a href="{{ news.get_absolute_url }}" title="">{{ news.title }}</a></h3>
                        <p>{{ news.text|truncatechars:300|safe }}</p>
                        <a class="btn btn-primary btn-sm align-self-center" href="{{ news.get_absolute_url }}" role="button">читать новость<i class="fas fa-arrow-right fa-xs i-post"></i></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="trust-block">
        <div class="container">
            <h2 class="text-center">Нам доверяют</h2>
            <div class="row justify-content-center">
                {% for partner in partners %}
                    <div class="col-lg-3 col-md-4 col-6">
                        {% if partner.partner_url %}
                            <a href="{{ partner.partner_url }}" title="" target="_blank" class="trust-item">
                                <img src="{{ partner.image.url }}" alt="" class="img-fluid">
                            </a>
                        {% else %}
                            <a class="trust-item">
                                <img src="{{ partner.image.url }}" alt="" class="img-fluid">
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="main-info-block">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-8">
                    <h1>{{ main_info.title }}</h1>
                    {{ main_info.text|safe }}
                </div>

                <div class="col-lg-4 d-none d-lg-block">
                    <img src="{{ main_info.image.url }}">
                </div>
            </div>
        </div>
    </div>

    <div class="brands-block">
        <div class="container">
            <div class="row justify-content-center">
                {% for brand in brands %}
                    <div class="col-lg-2 col-md-3 col-sm-3 col-4 align-self-center text-center">
                        {% if brand.brand_url %}
                            <a href="{{ brand.brand_url }}" title="" target="_blank">
                                <img src="{{ brand.image.url }}" alt="" class="img-fluid">
                            </a>
                        {% else %}
                            <a>
                                <img src="{{ brand.image.url }}" alt="" class="img-fluid">
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="contacts-block">
        <div class="container">
            <div class="row">
                <div class="col-xl-3">
                    <div class="contacts-info">
                        <h2>Наши контакты</h2>
                        <address>
                                <ul class="list-unstyled">
                                    <li>
                                        <i class="fas fa-map-marker-alt i-pre" style="color:#fecb00;"></i>{% for address in addresses %}{{ address.address }}<br>{% endfor %}
                                    </li>
                                    <li>
                                        <i class="fas fa-phone i-pre" style="color:#fecb00;"></i>{% for phone in phones %}{{ phone.phone }}<br>{% endfor %}
                                    </li>
                                    <li>
                                        <i class="fab fa-whatsapp i-pre" style="color:#7ad06d;"></i>{% for messenger in messengers %}{{ messenger.number }}<br>{% endfor %}
                                    </li>
                                    <li>
                                        <i class="fas fa-envelope i-pre" style="color:#fecb00;"></i>{% for email in emails %}<a href="mailto:{{ email.email }}">{{ email.email }}</a><br>{% endfor %}
                                    </li>
                                    <li>
                                        <i class="fas fa-clock i-pre" style="color:#fecb00;"></i>{% for point in schedule %}<b>{{ point.days_point }}</b> {{ point.time_point }}<br>{% endfor %}
                                    </li>
                                </ul>
                            </address>
                        <a class="btn btn-primary btn-block" href="#" role="button" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-phone-volume i-pre"></i>заказать звонок</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="MapContacts" style="width: 100%; height: 700px"></div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Заказать звонок</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="callback-form" action="{% url 'callback' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control phone-input" placeholder="Ваш телефон">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control time-input" placeholder="Позвонить сейчас">
                        </div>

                        <button type="submit" class="btn btn-primary btn-block callback-submit">Заказать звонок</button>

                        <div class="alert alert-success d-none" role="alert">
                            <i class="fas fa-check-circle fa-3x"></i>
                            <h5>Спасибо за заявку!</h5>
                            <p>Ожидайте звонка менеджера в указанное Вами время</p>
                        </div>

                        <div class="alert alert-danger d-none" role="alert">
                            <i class="fas fa-exclamation-circle fa-3x"></i>
                            <h5>Ошибка при отправке</h5>
                            <p>Мы не получили Вашу заявку. Повторите попытку позже.</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal3Label">Записаться на ремонт</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate id="repair-form" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Ваше имя</label>
                                    {{ form2.name }}
                                    <div class="invalid-feedback">
                                        Это поле должно быть заполнено
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Ваш телефон</label>
                                    {{ form2.phone }}
                                    <div class="invalid-feedback">
                                        Это поле должно быть заполнено
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Желаемая дата</label>
                                    {{ form2.repair_date }}
                                    <div class="invalid-feedback">
                                        Это поле должно быть заполнено
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Желаемое время</label>
                                    {{ form2.repair_time }}
                                    <div class="invalid-feedback">
                                        Это поле должно быть заполнено
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label>Марка и модель авто</label>
                                    {{ form2.car }}
                                    <div class="invalid-feedback">
                                        Это поле должно быть заполнено
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label>Описание проблемы (необязательно)</label>
                                    {{ form2.description }}
                                </div>
                            </div>
                        </div>

                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
                            <label class="custom-control-label small" for="customControlValidation1">Нажимая кнопку «отправить заявку», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных в Согласии на обработку персональных данных</label>
                        </div>

                        <div class="form-group g-recaptcha mb-4" data-sitekey="6LcNnpAUAAAAAFizBV4waAV1Ehe7WBafr1RP6epY"></div>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="mb-3 p-2 alert-danger">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <button class="btn btn-primary" type="submit">отправить заявку</button>

                        <div class="alert alert-success d-none" role="alert">
                            <i class="fas fa-check-circle fa-3x"></i>
                            <h5>Спасибо за заявку!</h5>
                            <p>Ожидайте звонка менеджера по указанному Вами телефону</p>
                        </div>

                        <div class="alert alert-danger d-none" role="alert">
                            <i class="fas fa-exclamation-circle fa-3x"></i>
                            <h5>Ошибка при отправке</h5>
                            <p>Мы не получили Вашу заявку. Повторите попытку позже.</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}