{% extends 'base.html' %}


{% block title %}

    {{ one_news.title }}
    
{% endblock %}


{% block scripts %}

    {% include "_scripts.html" %}
    
{% endblock %}


{% block content %}
    
    <div class="container">
        <div class="row justify-content-left">
        <div class="col-xl-8 col-lg-10">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                <li class="breadcrumb-item"><a href="{% url 'news' %}">Новости</a></li>
                <li class="breadcrumb-item active">{{ one_news.title }}</li>
            </ol>
            <article class="mb-5">
                <span class="news-item-date">{{ one_news.created_date|date:"d.m.Y" }}</span>
                <h1 class="mt-0">{{ one_news.title }}</h1>
                {{ one_news.text|safe }}
            </article>
        </div>
        </div>  
    </div>

{% endblock %}