{% extends 'base.html' %}
{% load imagefit %}


{% block title %}
    Галерея
{% endblock %}


{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}


{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active">Фото</li>
        </ol>
        <h1 class="mt-0">Фото</h1>

        <div class="row">
            {% for album in albums %}
                <div class="col-sm-6">
                    <a href="{{ album.get_absolute_url }}" class="mb-4 d-block gal-item">
                        <img src="{{ album.image.url|resize:'760x400,C' }}" class="w-100 mb-2" alt="...">
                        {{ album.title }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}